/* Set CSS rules for the navigation bar for mobile devices. */

@media only screen and (max-width: 600px) {
  .dog-button {
    border: 1px solid #003B6D;
    border-radius: 50px;
    background-color: #003B6D;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 5%;
    width: 100%;
    font-size: 24px;
    margin: 0px auto;
  }
}

/* Set CSS rules for the navigation bar for desktop devices. */

@media only screen and (min-width: 768px) {
  #article-image-dogs {
    margin-top: 6%;
  }

  .dog-button {
      border: 1px solid #003B6D;
      border-radius: 50px;
      background-color: #003B6D;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      width: 20%;
      padding: 2%;
      cursor: pointer;
  }
}