@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Set CSS rules for the navigation bar for mobile devices. */

@media only screen and (max-width: 600px) {
    /* Set CSS rules for body text elements throughout the site. */

    body {
      font-family: 'Roboto', sans-serif;
      margin: 0px auto;
    }
  
    h1 {
      color: #003B6D;
      font-size: 64px;
      font-weight: bold;
    }
  
    p {
      color: #676767;
      font-size: 24px;
      font-weight: lighter;
      margin: 0% 0% 20% 0%;
      }
  
    .button {
      border: 1px solid #003B6D;
      border-radius: 50px;
      background-color: #003B6D;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      padding: 5%;
      width: 100%;
      font-size: 24px;
    }
}

@media only screen and (min-width: 768px) {
  /* Set CSS rules for body text elements throughout the site. */

  body {
    font-family: 'Roboto', sans-serif;
  }

  h1 {
    color: #003B6D;
    font-size: 36px;
    font-weight: bold;
  }

  p {
    color: #676767;
    font-size: 16px;
    font-weight: lighter;
    margin: 0% 0% 5% 0%;
  }

  .button {
    border: 1px solid #003B6D;
    border-radius: 50px;
    background-color: #003B6D;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    width: 10%;
    padding: 1%;
    cursor: pointer;
  }
}